
<!-- 
    <form action="http://localhost/oauth/token/" method="post">

      <input type="hidden" name="client_id" value=""/>
      <input type="hidden" name="secret" value=""/>
      <input type="hidden" name="scope" value=""/>
           <button type="submit"Log in with Passport</button>
    </form> -->

    <!-- <a href="http://passport.gen4.info/dialog/authorize?client_id=g4&redirect_uri=http://localhost:4200/auth&response_type=token&scope=offline_access"  class="btn-small waves-effect waves-light orange lighten-1"> Log In</a> -->
    <a href='{{loginUrl}}' class="btn-small waves-effect waves-light orange lighten-1"> Log In</a>
