<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>New</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                          <span data-feather="plus-circle"></span>
                        </a>
                      </h6>
          <ul class="nav flex-column">
           
            <li class="nav-item">
              <a class="nav-link" href="/admin/new/offering/company">
                <span data-feather="layers"></span>
                Company Offering
              </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/admin/new/offering/user">
                        <span data-feather="layers"></span>
                      User Offering
                    </a>
                  </li>

                  <li class="nav-item">
                        <a class="nav-link" href="/admin/new/project">
                          <span data-feather="layers"></span>
                          Project
                        </a>
                      </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Project Access</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                View Companies
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                View Users
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/projects">
                <span data-feather="file-text"></span>
                View Projects
              </a>
            </li>
        
          </ul>
        </div>
      </nav>
