<script>
  (function ($) {
    $(function () {
      $('.parallax').parallax();

    }); // end of document ready
  })(jQuery);

</script>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">

          With over a decade of simulation experience at NSW Mines Rescue, Gen4 VR has been
          specifically designed to offer a cost-effective, flexible training capability.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Solutions</h5>
        <ul>
          <li><a class="white-text" href="https://gen4.info">Virtual Reality Training</a></li>
          <li><a class="white-text" href="https://learn2.gen4.info">Learning Management System</a></li>
          <li><a class="white-text" href="https://mras.gen4.info">Mine Event Management</a></li>
          <li><a class="white-text" href="https://moc.gen4.info">Maintenance of Competency</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="mailto:support@gen4.info">Email</a></li>
          <li><a class="white-text" href="">Phone</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright center">
    <div class="container">
      <a class="orange-text center text-lighten-3" href="https://gen4.info">Gen4</a>
    </div>
  </div>
</footer>
